# =========================
# Compilación C++
# =========================
*.o
*.out
*.exe
*.a
*.so


# =========================
# Archivos generados
# =========================
*.log
*.tmp
*.cache



# =========================
# VS Code
# =========================
.vscode/

# =========================
# Linux / temporales
# =========================
*~
.DS_Store

# =========================
# Carpetas opcionales
# =========================
build/
dist/
enunciado/
.github/